* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.left-panel {
  flex: 1;
  background-color: #0b0c40;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
}

.logo {
  align-items: center;
  top: 20px;
  left: 20px;
  font-size: 24px;
}

.logo-login {
  display: none;
}

.welcome-text h2 {
  text-align: center;
  font-size: 28px;
  line-height: 1.5;
}

.welcome-text h2 span {
  font-weight: normal;
}

.right-panel {
  position: relative;
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  overflow: hidden; /* 砖 注  转专转 */
}


.login-form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9); /* 爪 砖拽祝 */
  padding: 20px;
  border-radius: 10px;
}

.login-form h2 {
  text-align: center;
  color: #0b0c40;
  margin-bottom: 10px;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form .forgot {
  text-align: right;
  font-size: 12px;
  color: #0b0c40;
  text-decoration: none;
}

.login-form button {
  padding: 10px;
  background-color: #0b0c40;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-account {
  font-size: 12px;
  text-align: center;
}

.create-account a {
  color: #0b0c40;
  text-decoration: none;
  font-weight: bold;
}

/*  专住驻住 */
@media (max-width: 768px) {
  .right-panel {
  /* position: absolute; */
  background-image: url('../../../images/logo.png'); /* 砖 转  爪 */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 10;
  z-index: 3;
  }
  .container {
    flex-direction: column;
  }

  .left-panel {
    display: none;
  }

  .right-panel {
    padding: 20px;
  }

  .logo {
    font-size: 20px;
  }

  .welcome-text h2 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .login-form {
    padding: 10px;
  }

  .login-form h2 {
    font-size: 20px;
  }

  .welcome-text h2 {
    font-size: 20px;
  }
}
